#!/usr/bin/make -f
export DH_VERBOSE=1


override_dh_installcron:
	dh_installcron --name=elan-rule-fetcher

override_dh_systemd_start:
	dh_systemd_start --restart-after-upgrade

override_dh_systemd_enable:
	dh_systemd_enable --name=elan-axon-mapper
	dh_systemd_enable --name=elan-axon-websocket-proxy
%:
	dh $@ --with systemd
